/* 响应头部 */
@media all and (max-width: 990px) and (min-width: 320px){
        /* header */
        #header{
            width: 100%;
            background: #FFFFFF;
            position: fixed;
            top:0 ;
            z-index: 102;
        }
        .navbar-toggle{
            border-radius:0 !important ;
        }
      .navbar-toggle .icon-bar{
        border-radius:0;
        }
        #header .right-icon{
            margin-left: .8rem;
        }
        #header .logo{
            width: 10rem !important;
            margin-left: 6.4rem;
            padding: 0;
        }
        #header .header-list{
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
            -webkit-justify-content: space-between;
            -ms-flex-pack:justify ;
            justify-content: space-between;
            padding:1.6rem 0;

        }
        .header-list .h-item:first-child button{
            margin-top: 0.4rem !important;
            margin-right: 2.5rem !important;
        }

        .h-item:nth-of-type(2){
            flex: 2.2;
        }
        .h-item:nth-of-type(4){
            flex: 1;
        }
        .header-list .h-item .js-show-info, .header-list .h-item .info-close{
            line-height: 1.5rem;
            display: none;
        }
        .search-box{
            width: 100%;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
            -webkit-justify-content: space-between;
            -ms-flex-pack:justify ;
            justify-content: space-between;
        }
        .search-box .js-show-info{
            width: 19.2rem;
            border: none;
        }
        .search-box .info-close{
            width: 1.6rem;
            font-size: 1.5rem;
            font-weight: inherit;
            color: #999999;
        }
        .header-list .h-item:nth-of-type(3) .icon{
            margin-top: 3px !important;
        }
        #tel{
            text-align: center;
            background: #f6f6f6;
        }
        #tel p{
            font-size: 1.2rem;
            margin: 0;
            line-height:3.2rem ;
        }
        #tel p span{
            font-size: 1rem;
            color: #999999;
        }
}