@media screen  and (max-width: 990px) and (min-width: 320px){
    /*footer*/
    footer .w
    {
        width: 92% !important;
    }
    .footer{
        margin-top: 50px !important;
        padding-top: 20px !important;
        padding-bottom: 30px !important;
    }
    .footer-up{
        padding: 0 5px;
        height: 360px !important
    }
    .footer-up .partners{
        width: 100% !important;
        position: absolute;
        top:130px !important;
    }
    .service ul ,.news-content ul{
        display: none;
    }
    .footer-up .partners>div{
        float: inherit;
        margin: 0;
    }
    .footer-up .partners h4{
        width: 100%;
        font-weight:inherit;
        font-size: 16px;
        line-height: 44px;
        border-bottom: 1px solid #dddddd;
        position: relative;
    }
    .footer-up .partners h4 span{
        position: absolute;
        right: 30px;
    }
    .partners .erchant{
        width: 100%;
        padding: 30px 0 0 0;
        position: absolute;
        display: -webkit-flex;
        -webkit-flex-flow: row;
        -webkit-align-items: stretch;
        -webkit-justify-content:space-between;
    }
    .partners .erchant>div {
        float:  left;
        padding: 0 50px;
    }
    .partners .erchant span{
        display: block !important;
        padding-left: 10px !important;
    }
    .footer-up .footer-user-info{
        float: inherit;
        margin-left: 0 !important;
        width: 100%;
        height: 120px !important;
        position: absolute;
        top: 0;
    }
    .contact{
        border: none;
        padding: 100px 0 0 0 !important;
    }
    .contact .ad1,.contact .ad2{
        display: none;
        padding-top: 10px;
    }
    .contact .ad1{
        display: block;
    }
    .contact .tab-ad .link-more{
        margin: 0 !important;
        width: 49% !important;
        float: left;
    }
    .company{
        width: 100%;
        position: absolute;
        text-align: center;
        font-size: 9px;
        padding: 8px 0;
        height: auto !important;
        margin-top: 30px !important;
        line-height: inherit;
        text-indent: 2rem;
    }
    .company p{
        padding: 0 20px;
    }
    .tab-active{
        background: #333;
        color: #FFFFFF;
    }
}